$brand-primary: $primary;
$brand-secondary: $secondary;
$brand-tertiary: $tertiary;
$brand-disabled: $disabled;
$input-border-focus: $input-btn-focus-color;
$input-border: $input-border-color;
$border-color: $gray;
$fz-default: $font-size-base;
$state-danger-text: $danger;

$default-font-family: $font-family-base;
$semibold-font-family: $font-family-base;
$medium-font-family: $font-family-base;
$light-font-family: $font-family-light;

$color-lightgray: $gray;