/.web-server-pid
/config/packages/*/parameters.yaml
/public/build/
/phpunit.xml
/var
/_prev
app/var
app/vendor
app/public/build
bower_components
node_modules
/images/
.idea/
.env.*
.pnpm-store
app/src/Controller/TestController.php
initdb/020-schema+data.sql*
doc/
