.vue-form-generator {
  fieldset {
    legend {
      @extend .h2;
      border: 0;
      float: none;
    }

    legend + * {
      margin-top: 5px;
    }
  }

  fieldset + fieldset {
    margin-top: 10px;
  }

  .form-group {
    position: relative;

    label {
      margin-bottom: 4px;
    }
  }
  div.form-group.has-error {
    color: $state-danger-text;
  }

  div.form-group.has-error .field-wrap {
    border-style: solid;
    border-width: 2px;
    border-color: $state-danger-text
  }
}