.vue-form-generator {

  .actor {
    padding-left: 20px;
    border-left: 2px solid #efefef;
    margin-bottom: 0;
    padding-bottom: 15px;
  }

  .actor.field-label {
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 10px;
  }

  .actor-1 {
    border-color: red;
  }

  .actor-2 {
    border-color: seagreen;
  }

  .actor-3 {
    border-color: skyblue;
  }

}