.scrollable {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    width: 6px;
    background-color: #efefef;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &.scrollable--mr {
    &::-webkit-scrollbar {
      width: 24px;
    }

    &::-webkit-scrollbar-track {
      border-right: 18px solid white;
    }

    &::-webkit-scrollbar-thumb {
      border-right: 18px solid white;
    }
  }

  &.scrollable--ml {
    &::-webkit-scrollbar {
      width: 24px;
    }

    &::-webkit-scrollbar-track {
      border-left: 18px solid white;
    }

    &::-webkit-scrollbar-thumb {
      border-left: 18px solid white;
    }
  }

  &--vertical {
    overflow: hidden;
    overflow-y: auto;
  }

  &--horizontal {
    overflow: hidden;
    overflow-x: auto;
  }

}