table {

    th {
        font-size: $font-size-md;       
        font-weight: 500;
    }

    ul,
    ol {
      padding-left: 18px;
  
      li {
        margin-bottom: 8px;
        position: relative;
  
        a {
          border-bottom: 1px solid $primary;
  
          &:hover,
          &:focus,
          &.selected {
            border-color: transparent;
            color: $primary;
          }
        }
      }
    }
  
    .word-break {
      word-break: break-all;
    }
}
.table > :not(:first-child) {
    border-top: 0px;
}