{% extends 'static.html.twig' %}

{% set page_title %}{{ 'About'|trans }}{% endset %}

{% block page_content %}
    <p>
        <span class="textItalic">Diplomata Belgica </span>offers a critical survey of all the diplomatic sources, edited or
        still unpublished, and issued by both natural persons and legal bodies from the medieval Southern Low Countries.
        <span class="textItalic">Diplomata Belgica</span> covers present day Belgium as well as those areas which belonged
        historically to the Southern Low Countries but are part now of France (French Flanders, French Hainault), the
        Netherlands (parts of the provinces of Zeeland, Noord-Brabant, Limburg), the Grand Duchy of Luxembourg, or Germany
        (parts of the Rhineland). At this stage,<span class="textItalic"> Diplomata Belgica</span> contains metadata about
        almost 35,000 charters and deeds in Latin, Old-French, Middle Dutch and Middle High German, almost 19,000 full text
        transcriptions and almost 5,000 photographs of original charters. The database aims at exhaustivity for the period
        before 1250 and will, in the future, also include late medieval diplomatic materials without striving after
        completeness.<br>
    </p>
    <p>
        The <span class="textItalic">Diplomata Belgica</span>-project originated in the mid-1980s, when the Belgian Royal
        Historical Commission proposed a complete and computerised revision of the well-known <span class="textItalic">Table chronologique des chartes et dipl&ocirc;mes imprim&eacute;s concernant l&rsquo;histoire de la Belgique</span>.
        This heuristic instrument had been published in eleven volumes between 1866 and 1971 under the original editorship
        of Alphonse Wauters and provided textual analyses of all edited charters from before 1350. The project led to a
        close collaboration with the <span class="textItalic">Comit&eacute; nationale du dictionnaire du latin m&eacute;di&eacute;val</span>
        and with the former Cetedoc (<span class="textItalic">Centre de Traitement &eacute;lectronique des Documents</span>)
        at the University of Louvain-la-Neuve. In 1997 it resulted in the publication of the CD-Rom<span class="textItalic"> Thesaurus Diplomaticus</span>,
        edited by Paul Tombeur, Philippe Demonty, Walter Prevenier and Marie-Paul Laviolette and distributed by Brepols
        Publishers. This CD-ROM offers an analytical survey of all diplomatic sources written (in Latin) between circa 640
        and 1200.<br>
    </p>
    <p>
        After 1997, Philippe Demonty continued, as a contract researcher of the Royal Historical Commission, to collect new
        data in order to improve and to supplement the dataset covering the period 640-1200 and to extend the collection to
        the subsequent decades between 1200 and 1250. For the conception of a new data structure and for the development of
        a new relational database system, the Commission started a cooperation with a team of both medievalists and computer
        scientist at Ghent University in the framework of the project &ldquo;Sources from the Medieval Low Countries&rdquo;,
        directed by Jeroen Deploige and generously funded by the Hercules Foundation (2010-2014) and the Henri Pirenne
        Institute for Medieval Studies at Ghent University. Compared with the former <span class="textItalic">Thesaurus Diplomaticus</span>,
        <span class="textItalic">Diplomata Belgica</span> did not only become an open access database. It also offers a
        threefold of the original data and contains many new information fields and features such as extensive hyperlinking
        and geolocation. An inventory like <span class="textItalic">Diplomata Belgica </span>is never finished. Therefore,
        the database is published as a continuous work-in-progress: at any moment, new data can be added and the existing
        data adapted and thus kept up-to-date.
    </p>
{% endblock %}
